QWidget {
    background-color: gray;
}

#logo{
}

#btn{
    border: 2px solid red;
    border-radius: 20px;
    font-size: 40px;
    color: white;
    background-color: black;
    padding-bottom: 5px;
}